@using PagedList.Mvc
@model PagedList.IPagedList<Inventory_System.Models.Item>
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "قائمه المنتجات بالمخزن";
    Layout = "~/Views/Shared/_LayoutWarhouse.cshtml";
}

<h2>قائمه الأصناف</h2>

<p>

    @using (Html.BeginForm())
    {
        @*@Html.HiddenFor(mod)*@
        <table>
            <tr>
                <th class="col-md-2">

                    @Html.DropDownList("category", ViewBag.category as SelectList, "اختر صنف", htmlAttributes: new { @class = "form-control col-md-3 goRight", @id = "category" })

                </th>
                <th class="col-md-2">
                    @Html.DropDownList("subcategory", new SelectList(""), "اختر صنف جزئي", htmlAttributes: new { @class = "form-control col-md-3 goRight", @id = "subcategory" })
                </th>
                <th class="col-md-2">
                    @Html.DropDownList("item", new SelectList(""), "اختر منتج", htmlAttributes: new { @class = "form-control col-md-3 goRight", @id = "item" })
                </th>
                <th class="col-md-2"><input class="goRight" type="submit" value="بحث" /></th>
            </tr>
        </table>
    }


</p>

<table class="table">

    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.ItemSubCategory.ItemSubCategoryName)
            </th>*@
        <th class="text-right">
            @Html.DisplayName("كود المنتج")
        </th>
        <th class="text-center">
            @Html.DisplayName("التصنيف الرئيسي")
        </th>

        <th class="text-center">
            @Html.DisplayName("التصنيف الفرعي")
        </th>
        <th class="text-center">
            @Html.DisplayName("اسم الصنف")
        </th>
        <th class="text-center">
            @Html.DisplayName("الوحده")
        </th>
        <th class="text-center">
            @Html.DisplayName("الرصيد الافتتاحي")
        </th>

        <th class="text-center">
            @Html.DisplayName("الاضافه")
        </th>

        <th class="text-center">
            @Html.DisplayName("الصرف")
        </th>

        <th class="text-center">
            @Html.DisplayName("المتبقي")
        </th>

        <th class="text-center">
            @Html.DisplayName("تاريخ الاصدار")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemSubCategory.ItemCategory.ItemCategoryName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemSubCategory.ItemSubCategoryName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemUnit)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemQuantity)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemQuantityAdded)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemQuantityWithdraw)
            </td>
            @*<td class="text-center">
                    @Html.DisplayFor(modelItem => item.ItemReturn)
                </td>*@
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemReminder)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            @*<td class="text-center">*@
                @*@Html.ActionLink("تعديل", "Edit", new { id = item.ItemId }) |*@
                @*@Html.ActionLink("Details", "Details", new { id=item.ItemId }) |*@
                @*@Html.ActionLink("حذف", "Delete", new { id = item.ItemId })*@
            @*</td>*@
        </tr>
    }

</table>
<br />

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, subcategory=ViewBag.subcategoryv , category=ViewBag.categoryv }))



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>
@*<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>*@
<script>
    $("#category").select2({
        placeholder: "اختر صنف",
        allowClear: true
    });
    $('#category').on('select2:select', function (e) {
        $.get("/Items/GetMembers", { id: $("#category").val() }, function (data) {
            $("#subcategory").empty();

            $("#subcategory").append("<option value='0'>اختر صنف جزئي</option>")


            $.each(data, function (index, row) {
                $("#subcategory").append("<option value='" + row.ItemSubCategoryId + "'>" + row.ItemSubCategoryName + "</option>")
            });
        });
    })
</script>

<script>
    $("#item").select2({
        placeholder: "اختر منتج",
        allowClear: true
    });

</script>

<script>
    $("#subcategory").select2({
        placeholder: "اختر صنف جزئي",
        allowClear: true
    });
    $('#subcategory').on('select2:select', function (e) {
        $.get("/Items/GetSubCategories", { id: $("#subcategory").val() }, function (data) {
            $("#item").empty();

            $("#item").append("<option value='0'>اختر منتج</option>")


            $.each(data, function (index, row) {
                $("#item").append("<option value='" + row.ItemId + "'>" + row.ItemName + "</option>")
            });
        });
    })
</script>


