@model Inventory_System.Models.Project

@{
    ViewBag.Title = "تعديل بيانات المشروع";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>تعديل بيانات المشروع</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProjectId)

    <div class="form-group">
        <div class="col-md-10 text-right">
            @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProjectName,"", new { @class = "text-danger" })
        </div>
        @Html.Label("اسم المشروع", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

        @*<table class="table">
            <tr>
                <th class="text-center">
                    @Html.Display("الصنف") 
                </th>
            </tr>

            @foreach(var x in ViewBag.itemOutputs)
            {
                <tr>
                    <th>
                        
                    </th>
                </tr>
            }
        </table>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("العوده لقائمه المشاريع", "Index")
    <a href='@Url.Action("Index","ItemOutputs")' target="_blank">كشف بالأصناف المتعلقه بالمشروع</a>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
