@using PagedList.Mvc
@model PagedList.IPagedList<Inventory_System.Models.Safe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSafe.cshtml";
    List<int> year = new List<int>();
    for (int i = 2000; i <= DateTime.Now.Year; i++)
    {
        year.Add(i);
    }
    List<int> month = new List<int>();
    for (int i = 1; i <= 12; i++)
    {
        month.Add(i);
    }

}
<link rel="stylesheet" href="~/Content/css/all.css">
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>سجل الخزنة</h2>

<p>
    @Html.ActionLink("اضافة جديد", "Create")
</p>
<br />

@using (Html.BeginForm())
{
    <table>

        <tr></tr>
        <tr>

            <th class="col-md-1 text-right">
                @Html.Label("من تاريخ", new { @class = "text-right" })
            </th>
            <th class="col-md-2">
                <div class="input-group date text-right" id="requestDateTimePicker" data-target-input="nearest">
                    <div class="input-group-append text-right" data-target="#requestDateTimePicker" data-toggle="datetimepicker">

                        @Html.TextBox("startDate", null, new { @class = "form-control datetimepicker-input text-right", data_target = "#requestDateTimePicker", placeholder = "من تاريخ" })
                    </div>
                </div>
            </th>
            <th class="col-md-1 text-right">
                @Html.Label("إلى تاريخ", new { @class = "text-right" })
            </th>
            <th class="col-md-2">
                <div class="input-group date text-right" id="requestDateTimePicker2" data-target-input="nearest">
                    <div class="input-group-append text-right" data-target="#requestDateTimePicker2" data-toggle="datetimepicker">

                        @Html.TextBox("endDate", null, new { @class = "form-control datetimepicker-input text-right", data_target = "#requestDateTimePicker2", placeholder = "إلى تاريخ" })
                    </div>
                </div>
            </th>




            <th><input type="submit" value="بحث" class="btn-default btn" /></th>
            <th class="col-md-1"><input type="button" class="goRight btn-default btn" value="إزالة البحث" onclick="window.location = '@(Url.Action("index"))';" /></th>
        </tr>
    </table>


}
<br />
<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayName("رقم الأذن")
        </th>
        <th class="text-center">
            @Html.DisplayName("تاريخ الاصدار")
        </th>
        <th class="text-center">
            @Html.DisplayName("نوع العملية")
        </th>
        <th class="text-center">
            @Html.DisplayName("مبلغ مستلم")
        </th>

        <th class="text-center">
            @Html.DisplayName("مبلغ مصروف")
        </th>
        <th class="text-center">
            @Html.DisplayName("نوع الصرف/ الاستلام")
        </th>
        <th class="text-center">
            @Html.DisplayName("جهة الصرف/ الاستلام")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.PermessionNumber)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Deposit)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Withdraw)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.SafeSubCategory.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.SafeSubCategory.SafeCategory.Name)
            </td>

            <td class="text-center">
                @Html.ActionLink("تعديل", "Edit", new { id = item.SafeId }) |

                @Html.ActionLink("حذف", "Delete", new { id = item.SafeId })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, startDate = ViewBag.startDate, endDate = ViewBag.endDate }))

<br />
<br />
<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayName("الرصيد الافتتاحي")
        </th>
        <th class="text-center">
            @Html.DisplayName("المقبوضات")
        </th>
        <th class="text-center">
            @Html.DisplayName("المدفوعات")
        </th>
        <th class="text-center">
            @Html.DisplayName("رصيد نهاية المدة")
        </th>

        <th class="text-center">
            @Html.DisplayName("الرصيد الفعلي")
        </th>

    </tr>

    <tr>
        <td class="text-center">
            @((ViewBag.Statement as helper.Classes.FinanceStatement).StartingBalance)
        </td>
        <td class="text-center">
            @((ViewBag.Statement as helper.Classes.FinanceStatement).Deposits)
        </td>
        <td class="text-center">
            @((ViewBag.Statement as helper.Classes.FinanceStatement).Withdraws)
        </td>
        <td class="text-center">
            @((ViewBag.Statement as helper.Classes.FinanceStatement).EndBalance)
        </td>
        <td class="text-center">
            @((ViewBag.Statement as helper.Classes.FinanceStatement).CurrentBalance)
        </td>

    </tr>


</table>


@section scripts{

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <link href="~/Content/css/cs.css" rel="stylesheet" />
    <script src="~/Scripts/dt.js"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                $('#requestDateTimePicker').datetimepicker({
                    // time: "far fa-clock",
                    format: 'DD-MM-YYYY',
                    defaultDate: new Date()

                });
            });
        });

        $(document).ready(function () {
            $(function () {
                $('#requestDateTimePicker2').datetimepicker({
                    // time: "far fa-clock",
                    format: 'DD-MM-YYYY',
                    defaultDate: new Date()

                });
            });
        });
    </script>




}



