@model Inventory_System.Models.ItemOutput

@{
    ViewBag.Title = "اضافه طلب جديد";
    var currentRoleNow = ((Inventory_System.Models.User)ViewBag.mainUser).Roles;
    if (currentRoleNow == "warehouse")
    {
        Layout = "~/Views/Shared/_LayoutWarhouse.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutPlanning.cshtml";
    }

}

<h2>اضافه طلب جديد</h2>
<br />



<div class="form-horizontal">
    @*<h4>ItemOutput</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*<div class="col-md-4 text-right">
                @Html.DropDownListFor(model => model.Item.ItemSubCategory.ItemCategoryId, ViewBag.ItemCategory as SelectList, "اختار الصنف", htmlAttributes: new { @class = "form-control", @id = "ItemCategoryId" })
                @Html.ValidationMessageFor(model => model.Item.ItemSubCategory.ItemCategory.ItemCategoryName, "", new { @class = "text-danger" })
            </div>
            @Html.Label("نوع الصنف", htmlAttributes: new { @class = "control-label col-md-2" })

        </div>*@

    @if (ViewBag.prid != null)
    {
        <input type="hidden" value="@ViewBag.prid" name="ProjectId" id="ProjectId" />
    }
    else
    {
        <div class="form-group">
            <div class="col-md-10 text-right">
                @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control", @id = "ProjectId" })
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
            @Html.Label("كود المشروع", htmlAttributes: new { @class = "control-label col-md-2" })

        </div>
        <div class="form-group">


            <div class="col-md-10 text-right">
                @Html.Label("_", htmlAttributes: new { @Id = "CatName" })
            </div>
            @Html.Label("إسم الصنف", htmlAttributes: new { @class = "control-label col-md-2" })

        </div>


        <div class="form-group">


            <div class="col-md-10 text-right">
                @Html.Label("_", htmlAttributes: new { @Id = "SubCatName" })
            </div>


            @Html.Label("نوع الصنف", htmlAttributes: new { @class = "control-label col-md-2" })

        </div>
    }
    <div class="form-group">
        <div class="col-md-10 text-right">
            @Html.DropDownList("TechnicalDepartmentId", null, htmlAttributes: new { @class = "form-control", @id = "TechnicalDepartmentId" })
            @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
        </div>
        @Html.Label("القسم", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">
        <div class="col-md-6 text-right">
            <span id="QuantArea"></span>

        </div>
        <div class="col-md-4 text-right">
            @Html.DropDownList("ItemId", null, htmlAttributes: new { @class = "form-control", @id = "ItemId" })
            @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
        </div>
        @Html.Label("إسم الخامة", htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">
        <div class="col-md-6 text-right">
            <span id="UnitArea"></span>

        </div>
        <div class="col-md-4 text-right">
            @Html.EditorFor(model => model.ItemOutputQuantity, new { htmlAttributes = new { @class = "form-control", @id = "_ItemOutputQuantity" } })
            @Html.ValidationMessageFor(model => model.ItemOutputQuantity, "", new { @class = "text-danger" })
        </div>
        @Html.Label("الكميه", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">
        <div class="col-md-6 text-right">
            <span id="NotesArea"></span>

        </div>
        <div class="col-md-4 text-right">
            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control", @id = "_ItemOutputQuantity" } })
            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
        </div>
        @Html.Label("الملاحظات", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" onclick="handleAddingItem()" value="اضافه" class="btn btn-default" />
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="divReal">
        <table class="table">
            <tr id="headerArea">
                @*<th class="text-center">
                        كود المشروع
                    </th>*@
                <th class="text-center">
                    إسم الخامة
                </th>
                <th class="text-center">
                    القسم
                </th>
                <th class="text-center">
                    الكميه
                </th>


            </tr>



        </table>
        <div id="finalDiv" style="display:none;">

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@*<div>
        @Html.ActionLink("الرجوع لقائمه الأذونات", "technicallist")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/css/select2.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>

<script>
    var allItems = @Html.Raw(ViewBag.allItems);
    $("#ItemId").select2({
        placeholder: "اختارالمنتج",
        allowClear: true
    });
    $("#ItemId").change(function () {
        for (var i = 0; i < allItems.length; i++) {
            if (allItems[i].ItemId == parseInt($("#ItemId").val())) {
                $("#UnitArea").html(allItems[i].ItemUnit);
                $("#QuantArea").html(allItems[i].ItemReminder);
            }
        }
        $.get("/ItemInputs/GetParents?id=" + $("#ItemId").val(), null, function (data) {
            console.log(data);
            $("#ItemUnit").val(data[2]);
            $("#CatName").text(data[1]);
            $("#SubCatName").text(data[0]);
        });

    });
</script>



<script>
    
    
    $("#ProjectId").select2({
        placeholder: "اختارالمشروع",
        allowClear: true
    });
</script>

<script>
    $("#DepartmentId").select2({
        placeholder: "اختر القسم",
        allowClear: true
    });
</script>
<script>
    function handleAddingItem() {
        if ($("#ProjectId").val() == "null")
            return;
        if ($("#ProjectId").val() == "0")
            return;
        if ($("#ItemId").val() == "null")
            return;

        if ($("#ItemId").val() == "")
            return;

        if ($("#_ItemOutputQuantity").val() == "null")
            return;
        if ($("#_ItemOutputQuantity").val() == "")
            return;

        //"<td class='text-center'>" +
        //    $("#ProjectId").val() +
        //    "</td>" +
        var toAdd = "<tr>" +

            '<td class="text-center">' +
            $("#ItemId option:selected").text() +
            "</td>" +
            '<td class="text-center">' +
            "" +
            "</td>" +
            '<td class="text-center">' +
            $("#_ItemOutputQuantity").val() +
            "</td>" +
            "</tr>";
        var toAdd2 = "<input name='ItemId' value='" + $("#ItemId").val() + "' />" +
            "<input name='ProjectId' value='" + $("#ProjectId").val() + "' />" +
            "<input name='ItemOutputQuantity' value='" + $("#_ItemOutputQuantity").val() + "' />" +
            "<input name='TechnicalDepartmentId' value='' />";
        $(toAdd).insertAfter("#headerArea");
        $("#finalDiv").append(toAdd2);
    }
</script>