@using PagedList.Mvc
@model PagedList.IPagedList<Inventory_System.Models.ItemOutput>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    var currentRoleNow = ((Inventory_System.Models.User)ViewBag.mainUser).Roles;
    ViewBag.Title = "أذون الصرف";
    if (((string)ViewBag.MainRole) == "warehouse" || ((string)ViewBag.MainRole) == "cost")
    {
        Layout = "~/Views/Shared/_LayoutWarhouse.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutTechnical.cshtml";
    }
    List<int> year = new List<int>();
    for (int i = 2000; i <= DateTime.Now.Year; i++)
    {
        year.Add(i);
    }
    List<int> month = new List<int>();
    for (int i = 1; i <= 12; i++)
    {
        month.Add(i);
    }
    double totalPrices = ViewBag.totalPrices;
}

<h2>@(currentRoleNow=="cost"?"تكاليف المشاريع": "أذون الصرف")</h2>
<br />


<p>


    @using (Html.BeginForm())
    {
        <table>
            <tr class="text-right">
                @*<th class="col-md-2 text-right">
                        @if (ViewBag.mainUser != null)
                        {
                            if (((Inventory_System.Models.User)ViewBag.mainUser).Roles == "warehouse")
                            {
                                @Html.ActionLink("طلب جديد", "Create")
                            }
                        }

                    </th>*@
                <th class="col-md-2 text-right">
                    @if (currentRoleNow != "cost")
                    {
                        @Html.ActionLink("طلبات الأذونات المعلقه", "warehouse")
                    }
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th class="col-md-2 text-right">
                    @Html.DropDownList("TechnicalDepartmentId", ViewBag.TechnicalDepartmentId as SelectList, "اختر قسم", htmlAttributes: new { @class = "form-control", @id = "TechnicalDepartmentId" })
                </th>
                <th class="col-md-2 text-right">
                    @Html.DropDownList("ProjectId", ViewBag.ProjectId as SelectList, "اختر مشروغ", htmlAttributes: new { @class = "form-control", @id = "ProjectId" })
                </th>

                <th class="col-md-1 text-right">
                    @Html.Label("من تاريخ", new { @class = "text-right" })
                </th>
                <th class="col-md-2">
                    <div class="input-group date text-right" id="requestDateTimePicker2" data-target-input="nearest">
                        <div class="input-group-append text-right" data-target="#requestDateTimePicker2" data-toggle="datetimepicker">

                            @Html.TextBox("startDate", null, new { @class = "form-control datetimepicker-input text-right", data_target = "#requestDateTimePicker2", placeholder = "من تاريخ" })
                        </div>
                    </div>
                </th>
                <th class="col-md-1 text-right">
                    @Html.Label("إلى تاريخ", new { @class = "text-right" })
                </th>
                <th class="col-md-2">
                    <div class="input-group date text-right" id="requestDateTimePicker" data-target-input="nearest">
                        <div class="input-group-append text-right" data-target="#requestDateTimePicker" data-toggle="datetimepicker">

                            @Html.TextBox("endDate", null, new { @class = "form-control datetimepicker-input text-right", data_target = "#requestDateTimePicker", placeholder = "إلى تاريخ" })
                        </div>
                    </div>
                </th>
                <th class="col-md-1 text-right">
                    @Html.Label("رقم المستند", new { @class = "text-right" })
                </th>
                <th class="col-md-2">
                    <input type="number" name="docNumber" />

                </th>
                <th class="col-md-1 text-right"><input type="submit" value="بحث" /></th>
                <th class="col-md-1 text-right"><input type="button" class="goRight" value="إزالة البحث" onclick="window.location = '@(Url.Action("index"))';" /></th>
            </tr>
        </table>
    }


</p>


<br />

<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayName("كود المشروع")
        </th>
        <th class="text-center">
            @Html.DisplayName("اسم المشروع")
        </th>
        <th class="text-center">
            @Html.DisplayName("القسم")
        </th>
        <th class="text-center">
            @Html.DisplayName("إسم الخامة")
        </th>
        <th class="text-center">
            @if (currentRoleNow != "cost")
            {
                @Html.DisplayName("الكميه")
            }
            else
            {
                @Html.DisplayName("المبلغ")
            }
        </th>
        <th class="text-center">
            @Html.DisplayName("تاريخ الاصدار")
        </th>
        <th class="text-center">
            @Html.DisplayName("الملاحظات")
        </th>
        <th class="text-center">
            @Html.DisplayName("صرف؟")
        </th>
        <th>
            @Html.DisplayName("رقم المستند")
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Project.ProjectCode)
    </td>

    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Project.ProjectName)
    </td>

    <td class="text-center">
        @Html.DisplayFor(modelItem => item.TechnicalDepartment.TechnicalDepartmentName)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Item.ItemName)
    </td>
    <td class="text-center">
        @if (currentRoleNow != "cost")
        {
            @Html.DisplayFor(modelItem => item.ItemOutputQuantity)
            @Html.DisplayFor(modelItem => item.Item.ItemUnit)
        }
        else
        {
            @((item.Item.ItemAvgPrice * item.ItemOutputQuantity)+ " $")
            //totalPrices += (item.Item.ItemAvgPrice * item.ItemOutputQuantity);
        }
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.DateCreated)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Notes)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.ItemOutputApproved)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.DocCode)
    </td>
    <td class="text-center">
        @if (currentRoleNow != "cost")
        {
            <div>
                @(Html.ActionLink("تعديل", "Edit", new { id = item.ItemOutputId })) |

                @(Html.ActionLink("حذف", "Delete", new { id = item.ItemOutputId }))
            </div>

        }
    </td>
</tr>
    }
    @if (currentRoleNow == "cost")
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th class="text-center">@totalPrices $</th>
        </tr>
    }

</table>
<br />
@Html.PagedListPager(Model, Page => Url.Action("Index",
    new { Page, TechnicalDepartmentId = ViewBag.TechnicalDepartmentIdv, ProjectId = ViewBag.ProjectIdv }))


@section scripts{
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <link href="~/Content/css/cs.css" rel="stylesheet" />
    <script src="~/Scripts/dt.js"></script>
    <script>
        $("#TechnicalDepartmentId").select2({
            placeholder: "اختر القسم",
            allowClear: true
        });
        $('#TechnicalDepartmentId').on('select2:select', function (e) {
            $.get("/ItemOutputs/Index", { id: $("#TechnicalDepartmentId").val() }, function (data) {

            });
        })
    </script>

    <script>
        $("#ProjectId").select2({
            placeholder: "اختر مشروع",
            allowClear: true
        });
        $('#ProjectId').on('select2:select', function (e) {
            $.get("/ItemOutputs/Index", { id: $("#ProjectId").val() }, function (data) {

            });
        })
    </script>

    <script>
        $(document).ready(function () {
            $(function () {
                $('#requestDateTimePicker').datetimepicker({
                    // time: "far fa-clock",
                    format: 'DD-MM-YYYY',
                    defaultDate: new Date()

                });
                $('#requestDateTimePicker2').datetimepicker({
                    // time: "far fa-clock",
                    format: 'DD-MM-YYYY',
                    defaultDate: new Date()

                });
            });
        });
    </script>
}