@model IEnumerable<Inventory_System.Models.ItemOutput>

@{
    ViewBag.Title = "أذون الصرف";
    Layout = "~/Views/Shared/_LayoutWarhouse.cshtml";
}

<h2>أذون الصرف</h2>
<br />

@if (ViewBag.mainUser != null)
{
    if (((Inventory_System.Models.User)ViewBag.mainUser).Roles == "warehouse")
    {
        <p>
            @Html.ActionLink("طلب جديد", "Create", null, new { id = "CreateLink" })
        </p>
    }
}
<p>

    @using (Html.BeginForm())
    {
        <table>

            <tr class=" text-right">
                @*<th class="col-md-2 text-right">
                        @Html.DropDownList("TechnicalDepartmentId", ViewBag.TechnicalDepartmentId as SelectList, null, htmlAttributes: new { @class = "form-control", @id = "TechnicalDepartmentId" })



                    </th>*@
                <th class="col-md-2 text-right">


                    @Html.DropDownList("ProjectId", ViewBag.ProjectId as SelectList, null, htmlAttributes: new { @class = "form-control", @id = "ProjectId" })

                </th>
                <th class="col-md-1 text-right"><input type="submit" value="بحث" /></th>
            </tr>
        </table>
    }


</p>


<br />




@using (Html.BeginForm("Approve", "ItemOutputs"))
{

    <table class="table">
        <tr>
            <th class="text-center">
                @Html.DisplayName("كود المشروع")
            </th>
            <th class="text-center">
                @Html.DisplayName("اسم المشروع")
            </th>
            <th class="text-center">
                @Html.DisplayName("القسم")
            </th>
            <th class="text-center">
                @Html.DisplayName("بن كود")
            </th>
            <th class="text-center">
                @Html.DisplayName("إسم الخامة")
            </th>
            <th class="text-center">
                @Html.DisplayName("الكميه")
            </th>
            <th class="text-center">
                @Html.DisplayName("تاريخ الاصدار")
            </th>

            <th class="text-center">
                @Html.DisplayName("الموافقه")
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Project.ProjectCode)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TechnicalDepartment.TechnicalDepartmentName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Item.BinCode)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Item.ItemName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ItemOutputQuantity)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>

                <td class="text-center">
                    <input type="checkbox" name="ItemApproved" value="@item.ItemOutputId" />
                    @*@Html.DisplayFor(modelItem => item.ItemOutputApproved)*@
                </td>

                @*<td class="text-center">
                        <a>
                            @Html.Label("أوافق")
                        </a>
                    </td>*@

            </tr>
        }
    </table>

    <button type="submit" class="btn btn-primary btn-lg">حفظ</button>

    if (ViewBag.msg != null)
    {
        <script type="text/javascript">

                alert("@ViewBag.msg");


        </script>
    }


}
@section scripts{
    <link href="~/Content/css/select2.min.css" />
    <script src="~/Scripts/select2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <link href="~/Content/css/cs.css" rel="stylesheet" />
    @if (ViewBag.prid != null)
    {
        <script>
            $(document).ready(function () {
                $("#CreateLink").attr("href", '@Url.Action("Create")?prid=@ViewBag.prid');
            });
        </script>
    }
    <script>

        $("#ProjectId").change(function () {

            $("#CreateLink").attr("href", '@Url.Action("Create")?prid=' + $("#ProjectId").val());
});
    </script>
    @*<script>
            $("#TechnicalDepartmentId").select2({
                placeholder: "اختر القسم",
                allowClear: true
            });
            $('#TechnicalDepartmentId').on('select2:select', function (e) {
                $.get("/ItemOutputs/Index", { id: $("#TechnicalDepartmentId").val() }, function (data) {

                });
            })
        </script>

        <script>
            $("#ProjectId").select2({
                placeholder: "اختر مشروع",
                allowClear: true
            });
            $('#ProjectId').on('select2:select', function (e) {
                $.get("/ItemOutputs/Index", { id: $("#ProjectId").val() }, function (data) {

                });
            })
        </script>*@

}