@model Inventory_System.Models.BankAccount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<h2>حذف بيانات الشيك</h2>

<h3>هل أنت متأكد من هذا الحذف؟</h3>
<div>
   
    <hr />
    <dl >
        <dt>
            @Html.DisplayName("اسم البنك")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayName("التاريخ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayName("رقم الحركة")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransitionNumber)
        </dd>

        <dt>
            @Html.DisplayName("البيان")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statement)
        </dd>

        <dt>
            @Html.DisplayName("نوع الشيك/الحركة")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransitionType)
        </dd>

        <dt>
            @Html.DisplayName("الايداع")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deposit)
        </dd>

        <dt>
            @Html.DisplayName("السحب")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Withdraw)
        </dd>

        <dt>
            @Html.DisplayName("الرصيد")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
