
@using PagedList.Mvc
@model  PagedList.IPagedList<Inventory_System.Models.BankAccount>
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    List<int> year = new List<int>();
    for (int i = 2000; i <= DateTime.Now.Year; i++)
    {
        year.Add(i);
    }
    List<int> month = new List<int>();
    for (int i = 1; i <= 12; i++)
    {
        month.Add(i);
    }

}
<link rel="stylesheet" href="~/Content/css/all.css" />

<h2>كشف حساب البنوك</h2>



@using (Html.BeginForm())
{
    <table>
        <tr class="col-md-10 text-right">
            <th class="text-right">
                @Html.ActionLink("اضافة جديد", "Create")
            </th>

        </tr>
        <tr></tr>
        <tr>
            <th class="col-md-2">
                @Html.DropDownList("BankName", ViewBag.BankName as SelectList, "اختر بنك", htmlAttributes: new { @class = "form-control col-md-3", @id = "BankName" })
            </th>
            <th class="col-md-2">
                @Html.DropDownList("year", new SelectList(year), "السنة", htmlAttributes: new { @class = "form-control col-md-3 goRight" })
            </th>

            <th class="col-md-2">
                @Html.DropDownList("month1", new SelectList(month), "من شهر", htmlAttributes: new { @class = "form-control col-md-3 goRight" })
            </th>
            <th class="col-md-2">
                @Html.DropDownList("month2", new SelectList(month), "إلى شهر", htmlAttributes: new { @class = "form-control col-md-3 goRight" })
            </th>

            <!--<th class="col-md-4 form-control">

    <div class="input-group date" id="requestDateTimePicker" data-target-input="nearest">
        <div class="input-group-append" data-target="#requestDateTimePicker" data-toggle="datetimepicker">-->
            @*<div class="input-group-text"><i class="far fa-clock"></i></div>*@
            <!--@Html.Editor("startDate", new { htmlAttributes = new { @class = "datetimepicker-input", data_target = "#requestDateTimePicker", placeholder = "تاريخ بداية الفترة", @id = "StartDate" } })
            </div>
        </div>
    </th>
    <th class="col-md-4 form-control">
        <div class="input-group date" id="requestDateTimePicker2" data-target-input="nearest">
            <div class="input-group-append" data-target="#requestDateTimePicker2" data-toggle="datetimepicker">
                @Html.Editor("EndDate", new { htmlAttributes = new { @class = "datetimepicker-input", data_target = "#requestDateTimePicker2", placeholder = "تاريخ نهاية الفترة", @id = "EndDate" } })
            </div>
        </div>
    </th>-->

            <th><input type="submit" value="بحث" class="btn-default btn" /></th>
            <th class="col-md-1"><input type="button" class="goRight btn-default btn" value="إزالة البحث" onclick="window.location = '@(Url.Action("index"))';" /></th>
        </tr>
    </table>



    <br />
    <table class="table">
        <tr>
            <th class="text-center">
                @Html.DisplayName("البنك")
            </th>
            <th class="text-center">
                @Html.DisplayName("التاريخ")
            </th>
            <th class="text-center">
                @Html.DisplayName("رقم الشيك/الحركة")
            </th>
            <th class="text-center">
                @Html.DisplayName("البيان")
            </th>
            <th class="text-center">
                @Html.DisplayName("نوع الحركه")
            </th>
            <th class="text-center">
                @Html.DisplayName("الايداع")
            </th>
            <th class="text-center">
                @Html.DisplayName("المسحوبات")
            </th>
            <th class="text-center">
                @Html.DisplayName("الرصيد")
            </th>

            <th class="text-center">
                @Html.DisplayName("تم صرف الشيك")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TransitionNumber)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Statement)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TransitionType)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Withdraw)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.CheckIsPaied)
                </td>

                <td class="text-center">
                    @Html.ActionLink("تعديل", "Edit", new { id = item.BankAccountId }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.BankAccountId })
                </td>
            </tr>
        }

    </table>

    <br />
    @*Page @(Model.PageCount< Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, currentFilter = ViewBag.CurrentFilter, startDate = ViewBag.startDate, endDate = ViewBag.endDate, BankName = ViewBag.CurrentFilter }))

    <br />
    <div class="form-control col-md-10" disabled="disabled">
        @Html.Label("رصيد أول المدة")
        @Html.Editor("FirstBalance", "ViewBag.FirstBalance", new { htmlAttributes = new { @disabled = "disabled" } })

        @Html.Label("مقبوضات")
        @Html.Editor("AllDeposit", "ViewBag.AllDeposit", new { htmlAttributes = new { @disabled = "disabled" } })

        @Html.Label("مدفوعات")
        @Html.Editor("AllWithdraw", "ViewBag.AllWithdraw", new { htmlAttributes = new { @disabled = "disabled" } })

        @Html.Label("الرصيد في نهاية الفترة")
        @Html.Editor("FinalBalance", "ViewBag.FinalBalance", new { htmlAttributes = new { @disabled = "disabled" } })

    </div>

    <div class=" col-md-10 form-control" disabled="disabled">

        @Html.Label("شيكات صرفت لدي البنك ولم تصرف لدينا")
        @Html.Editor("DepositChecks", "ViewBag.DepositChecks", new { htmlAttributes = new { @disabled = "disabled" } })

        @Html.Label("شيكات صرفت لدينا ولم تصرف لدي البنك")
        @Html.Editor("WithdrawChecks", "ViewBag.WithdrawChecks", new { htmlAttributes = new { @disabled = "disabled" } })

        @Html.Label("الرصيد الفعلي")
        @Html.Editor("ActualBalance", "ViewBag.ActualBalance", new { htmlAttributes = new { @disabled = "disabled" } })
    </div>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="datepicker-inline"></div>

@section scripts{

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <link href="~/Content/css/cs.css" rel="stylesheet" />
    <script src="~/Scripts/dt.js"></script>

    <script>
        //$(document).ready(function () {
        //    $(function () {
        //        $('#requestDateTimePicker').datetimepicker({
        //            // time: "far fa-clock",
        //            format: 'DD-MM-YYYY hh:mm a',
        //            defaultDate: new Date()

        //        });
        //    });
        //    $(function () {
        //        $('#requestDateTimePicker2').datetimepicker({
        //            // time: "far fa-clock",
        //            format: 'DD-MM-YYYY hh:mm a',
        //            defaultDate: new Date()

        //        });
        //    });
        //});

    </script>

}
