
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <link rel="stylesheet" href='@Url.Content("~/content/bootstrap.min.css")' />
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>
<body class="text-center">

    @using (Html.BeginForm("Prof", "Login", FormMethod.Post, new { @class = "form-signin" }))
    {
        <h1 class="h3 mb-3 font-weight-normal">Sign-in Information</h1>
        <label for="username" class="sr-only">@(((Inventory_System.Models.User)ViewBag.mainUser).username)</label>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="text" id="inputPassword" name="password" class="form-control" placeholder="Password" value="@(((Inventory_System.Models.User)ViewBag.mainUser).Password)" required="">
        <input type="hidden" id="targetUrl" name="targetUrl" value="@ViewBag.targetUrl" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    }




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
