@model Inventory_System.Models.ItemSubCategory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutWarhouse.cshtml";
}

<h2>حذف الصنف</h2>

<h3>هل تريد حذف هذا الصنف</h3>
<div>
    <h4>قائمه التصنيفات الفرعيه</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-right">
            @Html.DisplayName("اسم الصنف")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCategory.ItemCategoryName)
        </dd>

        <dt class="text-right">
            @Html.DisplayName("اسم الصنف الفرعي")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemSubCategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("العوده لقائمه التصنيفات الفرعيه", "Index")
        </div>
    }
</div>
