@model IEnumerable<Inventory_System.Models.ItemSubCategory>

@{
    ViewBag.Title = "عرض الأصناف الفرعيه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>عرض الأصناف الجزئيه</h2>
<br />
<p>
    @Html.ActionLink("اضافه جديد", "Create")
</p>
<br />
<table class="table">
    <tr>
        <th class="text-right">
            @Html.DisplayName("اسم الصنف")
        </th>
        <th class="text-right">
            @Html.DisplayName("اسم الصنف الفرعي ")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-right">
            @Html.DisplayFor(modelItem => item.ItemCategory.ItemCategoryName)
        </td>
        <td class="text-right">
            @Html.DisplayFor(modelItem => item.ItemSubCategoryName)
        </td>
        <td class="text-right">
            @Html.ActionLink("تعديل", "Edit", new { id=item.ItemSubCategoryId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ItemSubCategoryId }) |*@
            @Html.ActionLink("حذف", "Delete", new { id=item.ItemSubCategoryId })
        </td>
    </tr>
}

</table>
