@model Inventory_System.Models.ItemInput

@{
    ViewBag.Title = "أضافه جديد";
    Layout = "~/Views/Shared/_LayoutWarhouse.cshtml";
}

<h2>أضافه جديده</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @*  <h4>ItemInput</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*-------------------------------------------------------------------------*@

    <div class="form-group">
        <div class="col-md-5 text-right">
            <a href='@Url.Action("Create","ItemCategories")' target="_blank">اضافه صنف جديد</a>
        </div>

        <div class="col-md-4 text-right">
            @Html.Label("_", htmlAttributes: new { @Id="CatName"})
        </div>
        @Html.Label("إسم الصنف", htmlAttributes: new { @class = "control-label col-md-2" })

    </div>


    <div class="form-group">

        <div class="col-md-5 text-right">
            <a href='@Url.Action("Create","ItemSubCategories")' target="_blank">اضافه نوع صنف جديد</a>
        </div>

        <div class="col-md-4 text-right">
            @Html.Label("_", htmlAttributes: new { @Id = "SubCatName" })
        </div>


        @Html.Label("نوع الصنف", htmlAttributes: new { @class = "control-label col-md-2" })

    </div>


    <div class="form-group">

        <div class="col-md-5 text-right">
            <a href='@Url.Action("Create","Items")'>اضافه خامة جديدة</a>
        </div>

        <div class="col-md-4 text-right">
            @Html.DropDownListFor(model => model.ItemId, ViewBag.ItemId as SelectList, htmlAttributes: new { @id = "ItemId", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
        </div>
        @Html.Label("إسم الخامة", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">

        <div class="col-md-9 text-right">
            @Html.EditorFor(model => model.Item.ItemUnit, new { htmlAttributes = new { @id = "ItemUnit", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item.ItemUnit, "", new { @class = "text-danger" })
        </div>
        @Html.Label("وحدة القياس", htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">
        <div class="col-md-9 text-right">
            @Html.EditorFor(model => model.ItemQuantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemQuantity, "", new { @class = "text-danger" })
        </div>
        @Html.Label("الكميه", htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    @*<div class="form-group">
            <div class="col-md-9 text-right">
                @Html.EditorFor(model => model.ItemReturn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemQuantity, "", new { @class = "text-danger" })
            </div>
            @Html.Label("الهالك", htmlAttributes: new { @class = "control-label col-md-2" })

        </div>*@

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-9 text-right">
            @Html.DropDownList("VendorID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Vendor.VendorName, "", new { @class = "text-danger" })
        </div>
        @Html.Label("اسم المورد", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>


    <div class="form-group">
        <div class="col-md-9 text-right">
            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
        </div>
        @Html.Label("ملاحظات", htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">
        <div class="col-md-9 text-right">
            @Html.EditorFor(model => model.DocCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DocCode, "", new { @class = "text-danger" })
        </div>
        @Html.Label("رقم المستند", htmlAttributes: new { @class = "control -label col-md-2" })

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="اضافه" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("الرجوع لقائمه الأذونات", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/css/select2.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>
<script>
    //$("#ItemCategoryId").select2({
    //    placeholder: "ابحث بنوع الصنف",
    //    allowClear: true
    //});
    
    //$("#ItemSubCategoryId").select2({
    //    placeholder: "ابحث بنوع الصنف الجزئي",
    //    allowClear: true
    //});
    $("#ItemId").select2({
        placeholder: "ابحث عن المنتج",
        allowClear: true
    });
    //$('#ItemCategoryId').on('select2:select', function (e) {
    //        $.get("/ItemInputs/GetMembers", { id: $("#ItemCategoryId").val() }, function (data) {
    //            $("#ItemSubCategoryId").empty();
    //            $("#ItemSubCategoryId").append("<option value='0'>ابحث بنوع الصنف الجزئي</option>")

    //            $("#ItemId").empty();
    //            $("#ItemUnit").val("");

    //            $.each(data, function (index, row) {
    //                $("#ItemSubCategoryId").append("<option value='" + row.ItemSubCategoryId + "'>" + row.ItemSubCategoryName + "</option>")
    //            });
    //        });
    //});
    //$('#ItemSubCategoryId').on('select2:select', function (e) {
    //    $.get("/ItemInputs/GetItems", { itemSubCategoryId: $("#ItemSubCategoryId").val() }, function (data) {
    //        $("#ItemId").empty();

    //        $("#ItemUnit").empty();

    //        console.log(data);
    //        jQuery("#ItemUnit").val(data[0].ItemUnit);
    //        $.each(data, function (index, row) {
    //            $("#ItemId").append("<option value='" + row.ItemId + "'>" + row.ItemName + "</option>")
    //        });
    //    });
    //});
    $('#ItemId').on('select2:select', function (e) {
        $.get("/ItemInputs/GetParents?id=" + $("#ItemId").val(), null, function (data) {
            console.log(data);
            $("#ItemUnit").val(data[2]);
            $("#CatName").text(data[1]);
            $("#SubCatName").text(data[0]);
        });
    });
</script>


