@model IEnumerable<Inventory_System.Models.ItemInput>

@{
    ViewBag.Title = "أذونات الدخول";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>أذونات الدخول</h2>

<br />
@if (ViewBag.IsAccountant == false)
{<p>
        @Html.ActionLink("اضافه جديد", "Create")
    </p>
}
<br />

<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayName("كود العمليه")
        </th>

        <th class="text-center">
            @Html.DisplayName("رقم المستند")
        </th>

        <th class="text-center">
            @Html.DisplayName("اسم الصنف")
        </th>

        <th class="text-center">
            @Html.DisplayName("الوحده")
        </th>

        <th class="text-center">
            @Html.DisplayName("الكميه")
        </th>

        @*<th class="text-center">
                @Html.DisplayName("الهالك")
            </th>*@

        <th class="text-center">
            @Html.DisplayName("اسم المورد")
        </th>

        <th class="text-center">
            @Html.DisplayName("تاريخ الاصدار")
        </th>

        <th >
            @Html.DisplayName("ملاحظات")
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.ItemInputId)
    </td>

    <td class="text-center">
        @Html.DisplayFor(modelItem => item.DocCode)
    </td>

    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Item.ItemName)
    </td>

    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Item.ItemUnit)
    </td>

    <td class="text-center">
        @Html.DisplayFor(modelItem => item.ItemQuantity)
    </td>


    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Vendor.VendorName)
    </td>

    <td class="text-center">
        @Html.DisplayFor(modelItem => item.DateCreated)
    </td>

    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Notes , new { htmlAttributes = new { @class = "col-md-4" } })
    </td>
    <td class="text-left">
        @if (ViewBag.IsAccountant)
        {
            @Html.ActionLink("تعديل", "WarhouseManager", new { id = item.ItemInputId })
            @* @Html.ActionLink("Details", "Details", new { id=item.ItemInputId }) |*@

        }
        else
        {
            @Html.ActionLink(" حذف ", "Delete", new { id = item.ItemInputId })
          
        }

    </td>

    @*<td>
             @Html.Label("الكميه المرتجعه", new { htmlAttributes = new {@id="text", @style = "display:none;" } })
        </td>*@

    @*<td >
        @Html.Editor("ReturnQnt", new { htmlAttributes = new { @id = "ItemQntReturned", @class = "col-md-4"} })
    </td>*@

    @*<td >
        <div class="col-md-2">
            <input type="submit" value="حفظ" class="btn btn-default" />
        </div>
       
    </td>*@
</tr>
    }

</table>
