@model IEnumerable<Inventory_System.Models.ItemInput>

@{
    ViewBag.Title = "أذونات الدخول";
   
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

    <h2>أذونات الدخول</h2>

<br />
<p>
    @Html.ActionLink("اضافه جديد", "Create")
</p>
<br />

<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayName("اسم المنتج")
        </th>
       
        <th class="text-center">
            @Html.DisplayName("الكميه")
        </th>
        <th class="text-center">
            @Html.DisplayName("الوحده")
        </th>
        <th class="text-center">
            @Html.DisplayName("اسم المورد")
        </th>
        <th class="text-center">
            @Html.DisplayName("تاريخ الاصدار")
        </th>
       
    </tr>

@foreach (var item in Model) {
<tr>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Item.ItemName)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.ItemPrice)
        </td>*@
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.ItemQuantity)
    </td>

    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Item.ItemUnit)
    </td>

         @*<td>
            @Html.DisplayFor(modelItem => item.ItemTotalCost)
        </td>*@
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Vendor.VendorName)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.DateCreated)
    </td>
    <td class="text-center">
        @Html.ActionLink("تعديل", "Edit", new { id = item.ItemInputId }) |
        @* @Html.ActionLink("Details", "Details", new { id=item.ItemInputId }) |*@
        @Html.ActionLink("حذف", "Delete", new { id = item.ItemInputId })
    </td>
</tr>
}

</table>
