@using PagedList.Mvc
@model PagedList.IPagedList<Inventory_System.Models.ItemInput>
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    var currentRoleNow = ((Inventory_System.Models.User)ViewBag.mainUser).Roles;
    ViewBag.Title = "أذون إضافة";

    if (((string)ViewBag.MainRole) == "warehouse" || ((string)ViewBag.MainRole) == "cost")
    {
        Layout = "~/Views/Shared/_LayoutWarhouse.cshtml";
    }
    else if (((string)ViewBag.MainRole) == "warehouseaudit")
    {
        Layout = "~/Views/Shared/_LayoutWarhouseAudit.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutTechnical.cshtml";
    }
    List<int> year = new List<int>();
    for (int i = 2000; i <= DateTime.Now.Year; i++)
    {
        year.Add(i);
    }
    List<int> month = new List<int>();
    for (int i = 1; i <= 12; i++)
    {
        month.Add(i);
    }


}

<h2>أذون إضافة</h2>

<p>

    @using (Html.BeginForm())
    {
        @*@Html.HiddenFor(mod)*@
        <table>
            <tr>
                <th class="col-md-1 text-right">
                    @if (ViewBag.IsAccountant == false && currentRoleNow != "cost")
                    {

                        @Html.ActionLink("اضافه جديد", "Create")

                    }
                </th>
            </tr>
            <tr>
                <th class="col-md-1 text-right">
                    @Html.Label("من تاريخ", new { @class = "text-right" })
                </th>
                <th class="col-md-2">
                    <div class="input-group date text-right" id="requestDateTimePicker2" data-target-input="nearest">
                        <div class="input-group-append text-right" data-target="#requestDateTimePicker2" data-toggle="datetimepicker">

                            @Html.TextBox("startDate", null, new { @class = "form-control datetimepicker-input text-right", data_target = "#requestDateTimePicker2", placeholder = "من تاريخ" })
                        </div>
                    </div>
                </th>

                <th class="col-md-1 text-right">
                    @Html.Label("إلى تاريخ", new { @class = "text-right" })
                </th>
                <th class="col-md-2">
                    <div class="input-group date text-right" id="requestDateTimePicker" data-target-input="nearest">
                        <div class="input-group-append text-right" data-target="#requestDateTimePicker" data-toggle="datetimepicker">

                            @Html.TextBox("endDate", null, new { @class = "form-control datetimepicker-input text-right", data_target = "#requestDateTimePicker", placeholder = "إلى تاريخ" })
                        </div>
                    </div>
                </th>

                <th class="col-md-1"><input type="submit" class="goRight" value="بحث" /></th>
                <th class="col-md-1"><input type="button" class="goRight" value="إزالة البحث" onclick="window.location = '@(Url.Action("index"))';" /></th>
            </tr>

        </table>
    }


</p>
<br />

<br />

<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayName("كود العمليه")
        </th>

        <th class="text-center">
            @Html.DisplayName("رقم المستند")
        </th>

        <th class="text-center">
            @Html.DisplayName("إسم الخامة")
        </th>

        <th class="text-center">
            @Html.DisplayName("الوحده")
        </th>

        <th class="text-center">
            @if (currentRoleNow != "cost")
            {
                @Html.DisplayName("الكميه")
            }
            else
            {
                @Html.DisplayName("المبلغ")
            }
        </th>

        @*<th class="text-center">
                @Html.DisplayName("الهالك")
            </th>*@

        <th class="text-center">
            @Html.DisplayName("اسم المورد")
        </th>

        <th class="text-center">
            @Html.DisplayName("تاريخ الاصدار")
        </th>

        <th>
            @Html.DisplayName("ملاحظات")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemInputId)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DocCode)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Item.ItemUnit)
            </td>

            <td class="text-center">
                @if (currentRoleNow != "cost")
                {
                    @Html.DisplayFor(modelItem => item.ItemQuantity)
                }
                else
                {
                    @(item.ItemTotalCost)
                }
            </td>


            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Vendor.VendorName)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Notes, new { htmlAttributes = new { @class = "col-md-4" } })
            </td>
            <td class="text-left">
                @if (ViewBag.IsAccountant && currentRoleNow != "cost")
                {
                    @Html.ActionLink("تعديل", "WarhouseManager", new { id = item.ItemInputId })
                    @* @Html.ActionLink("Details", "Details", new { id=item.ItemInputId }) |*@

                }
                @if (ViewBag.IsAccountant && currentRoleNow != "cost")
                {
                    @Html.ActionLink(" حذف ", "Delete", new { id = item.ItemInputId })

                }

            </td>

            @*<td>
                     @Html.Label("الكميه المرتجعه", new { htmlAttributes = new {@id="text", @style = "display:none;" } })
                </td>*@

            @*<td >
                    @Html.Editor("ReturnQnt", new { htmlAttributes = new { @id = "ItemQntReturned", @class = "col-md-4"} })
                </td>*@

            @*<td >
                    <div class="col-md-2">
                        <input type="submit" value="حفظ" class="btn btn-default" />
                    </div>

                </td>*@
        </tr>
    }

</table>
<br />
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))

@section scripts{

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <link href="~/Content/css/cs.css" rel="stylesheet" />
    <script src="~/Scripts/dt.js"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                $('#requestDateTimePicker').datetimepicker({
                    // time: "far fa-clock",
                    format: 'DD-MM-YYYY',
                    defaultDate: new Date()

                });
                $('#requestDateTimePicker2').datetimepicker({
                    // time: "far fa-clock",
                    format: 'DD-MM-YYYY',
                    defaultDate: new Date()

                });
            });
        });
    </script>

}