@model Inventory_System.Models.ItemInput

@{
    ViewBag.Title = "تعديل بيانات المنتج";
    Layout = "~/Views/Shared/_LayoutWarhouseAudit.cshtml";
    Inventory_System.Models.ItemInput item = ViewBag.Item as Inventory_System.Models.ItemInput;
}

<h2>تعديل بيانات المنتج</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ItemInputId)
    @Html.HiddenFor(model => model.ItemId)
    @Html.HiddenFor(model => model.VendorId)
    <div class="form-group">
        <div class="col-md-10 text-right">
            @Html.Label(Model.Item.ItemName, new { htmlAttributes = new { @id = "id", @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.Item.ItemName, "", new { @class = "text-danger" })*@
        </div>
        @Html.Label("إسم الخامة", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.HiddenFor(model => model.Item.ItemUnit, new { htmlAttributes = new { @class = "form-control" } })


    </div>
    @*@Html.HiddenFor(model => model.Item.ItemName, "ItemName", new { htmlAttributes = new { @id = "id", @class = "form-control" } })*@


    @*<div class="form-group">
        <div class="col-md-10 text-right">*@
    @*@Html.ValidationMessageFor(model => model.Item.ItemUnit, "", new { @class = "text-danger" })*@
    @*</div>
            @Html.Label("الوحده", htmlAttributes: new { @class = "control-label col-md-2" })

        </div>*@
    <div class="form-group">
        <div class="col-md-10 text-center">

        </div>
        <label class="control-label col-md-2">
            (@ViewBag.lastPrice)
        </label>

    </div>
    <div class="form-group">
        <div class="col-md-10 text-center">
            @*(@ViewBag.lastPrice)*@
            @Html.EditorFor(model => model.ItemPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemPrice, "", new { @class = "text-danger" })
        </div>

        @Html.Label("تكلفه الوحده", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>



    <div class="form-group">
        <div class="col-md-10 text-right">
            @Html.EditorFor(model => model.ItemQuantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemQuantity, "", new { @class = "text-danger" })
        </div>
        @Html.Label("الكميه", htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">
        <div class="col-md-10 text-right">
            @Html.EditorFor(model => model.ItemReturn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemReturn, "", new { @class = "text-danger" })
        </div>
        @Html.Label("الكميه المرتجعه ان وجدت", htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group" style="display:none;">
        <div class="col-md-10 text-right">
            @Html.EditorFor(model => model.ItemTotalCost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemTotalCost, "", new { @class = "text-danger" })
        </div>
        @Html.Label("التكلفه الكليه", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">
        <div class="col-md-10 text-right">
            @Html.DropDownList("VendorId", ViewBag.VendorId as SelectList, htmlAttributes: new { @id = "VendorId", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Vendor.VendorName, "", new { @class = "text-danger" })
        </div>
        @Html.Label("اسم المورد", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input name="minimumAllowed" type="number" class="form-control" min="0" value="@Model.Item.ItemMinQuantity" required />
        </div>
        @Html.Label("الحد الأدني للصنف", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="form-group">
        <div class="col-md-9 text-right">
            @Html.EditorFor(model => model.DocCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DocCode, "", new { @class = "text-danger" })
        </div>
        @Html.Label("رقم المستند", htmlAttributes: new { @class = "control -label col-md-2" })

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="حفظ" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("الرجوع لقائمه الأذونات", "Index",new { acc=true})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


