@model Inventory_System.Models.TechnicalDepartment

@{
    ViewBag.Title = "تعديل بيانات القسم";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>تعديل بيانات القسم</h2>

<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TechnicalDepartmentId)

    <div class="form-group">
        <div class="col-md-10 text-right">
            @Html.EditorFor(model => model.TechnicalDepartmentName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TechnicalDepartmentName, "", new { @class = "text-danger" })
        </div>
        @Html.Label("اسم القسم", htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("الرجوع لقائمه الاقسام", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
