@model IEnumerable<Inventory_System.Models.ItemReturn>

@{
    ViewBag.Title = "قائمه المرتجعات";
    Layout = "~/Views/Shared/_LayoutWarhouse.cshtml";
}

<h2>قائمه المرتجعات</h2>

<p>
    @Html.ActionLink("اضافه مرتجع", "Create")
</p>
<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayName("الصنف")
        </th>
        <th class="text-center">
            @Html.DisplayName("المشروع")
        </th>
        <th class="text-center">
            @Html.DisplayName("المورد")
        </th>
        <th class="text-center">
            @Html.DisplayName("الكميه")
        </th>
        <th class="text-center">
            @Html.DisplayName("تاريخ الاصدار")
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Item.ItemName)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Project.ProjectName)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.ItemInput.Vendor.VendorName)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.ItemQuantity)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.DateCreated)
    </td>

    <td class="text-center">
        @Html.ActionLink("تعديل", "Edit", new { id = item.ItemReturnId }) |
        @* @Html.ActionLink("Details", "Details", new { id=item.ItemReturnId }) |*@
        @Html.ActionLink("حذف", "Delete", new { id = item.ItemReturnId })
    </td>
</tr>
}

</table>
