
@using PagedList.Mvc
@model PagedList.IPagedList<Inventory_System.Models.ItemReturn>
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    var currentRoleNow = ((Inventory_System.Models.User)ViewBag.mainUser).Roles;
    ViewBag.Title = "قائمه المرتجعات";
    Layout = "~/Views/Shared/_LayoutWarhouse.cshtml";
    List<int> year = new List<int>();
    for (int i = 2000; i <= DateTime.Now.Year; i++)
    {
        year.Add(i);
    }
    List<int> month = new List<int>();
    for (int i = 1; i <= 12; i++)
    {
        month.Add(i);
    }
}

<h2>أذون الإرتجاع</h2>
<p>

    @using (Html.BeginForm())
    {
        @*@Html.HiddenFor(mod)*@
        <table>
            <tr>
                <th class="col-md-2 text-right">
                    @if (currentRoleNow != "cost")
                    {
                        @Html.ActionLink("اضافه مرتجع", "Create")
                    }
                </th>
            </tr>
            <tr>
                <th class="col-md-2">
                    @Html.DropDownList("year", new SelectList(year), "السنة", htmlAttributes: new { @class = "form-control col-md-3 goRight" })
                </th>
                <th class="col-md-2">
                    @Html.DropDownList("month", new SelectList(month), "الشهر", htmlAttributes: new { @class = "form-control col-md-3 goRight" })
                </th>
                <th class="col-md-1"><input type="submit" class="goRight" value="بحث" /></th>
                <th class="col-md-1"><input type="button" class="goRight" value="إزالة البحث" onclick="window.location = '@(Url.Action("index"))';" /></th>
            </tr>

        </table>
    }


</p>

<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayName("الصنف")
        </th>
        <th class="text-center">
            @Html.DisplayName("المشروع")
        </th>
        <th class="text-center">
            @Html.DisplayName("المورد")
        </th>
        <th class="text-center">
            @if (currentRoleNow != "cost")
            {
                @Html.DisplayName("الكميه")
            }
            else
            {
                @Html.DisplayName("المبلغ")
            }
        </th>
        <th class="text-center">
            @Html.DisplayName("تاريخ الاصدار")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemInput.Vendor.VendorName)
            </td>
            <td class="text-center">
                @if (currentRoleNow != "cost")
                {
                    @Html.DisplayFor(modelItem => item.ItemQuantity)
                }
                else
                {
                    @(item.Item.ItemInputs.Last().ItemPrice*item.ItemQuantity)
                }
                
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>

            <td class="text-center">
                @if (item.projectId != null && currentRoleNow!="cost")
                {
                    @Html.ActionLink("تعديل", "Edit", new { id = item.ItemReturnId })
                }

                @* @Html.ActionLink("Details", "Details", new { id=item.ItemReturnId }) |*@
                |
                @if (currentRoleNow != "cost")
                {
                    @Html.ActionLink("حذف", "Delete", new { id = item.ItemReturnId })
                }

            </td>
        </tr>
    }

</table>
<br />
@Html.PagedListPager(Model,Page=>Url.Action("Index",new { Page}))