@using PagedList.Mvc
@model  PagedList.IPagedList<Inventory_System.Models.DemandItem>
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "DemandHistory";
    Layout = "~/Views/Shared/_LayoutDemand.cshtml";
    <link href="~/Content/PagedList.css" rel="stylesheet" />

}

<h2>سجل الخامات المطلوبة من قبل</h2>

<br />


<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayName("اسم الخامة ")
        </th>
        <th class="text-center">
            @Html.DisplayName("الكميه المطلوبه")
        </th>
        <th class="text-center">
            @Html.DisplayName("الأولويه")
        </th>
        <th class="text-center">
            @Html.DisplayName("الموافقه")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemOutput.Item.ItemName)
            </td>
            <td class="text-center">
                @(item.PurchasedItemQuantity)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DemandItemPriority)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DemandItemApproval)
            </td>

        </tr>
    }

</table>

<br />
@Html.PagedListPager(Model,Page=>Url.Action("DemandHistory",new {Page}))