
@using PagedList.Mvc
@model  PagedList.IPagedList<Inventory_System.Models.DemandItem>
<link href="~/Content/PagedList.css" rel="stylesheet" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDemand.cshtml";
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<h2>قائمة الخامات المطلوبة</h2>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<p>


    @using (Html.BeginForm())
    {
        <table>


            <tr>
                <th class="col-md-2 text-right">
                    @Html.DropDownList("ProjectId", ViewBag.ProjectId as SelectList, "اختر مشروغ", htmlAttributes: new { @class = "form-control", @id = "ProjectId" })
                </th>
                <th class="col-md-1"><input type="submit" class="goRight" value="بحث" /></th>
                <th class="col-md-1"><input type="button" class="goRight" value="إزالة البحث" onclick="window.location = '@(Url.Action("index"))';" /></th>
            </tr>
        </table>
    }


</p>
@using (Html.BeginForm("Edit", "DemandItems"))
{
    foreach (var grp in Model.GroupBy(a => a.ItemOutput.Item))
    {
        <h4>@grp.First().ItemOutput.Item.ItemName</h4>
        <h4>مطلوب : @grp.Sum(a => a.DemandItemQuantity)</h4>
        <table class="table">
            <tr>
                <th class="text-center">
                    @Html.DisplayName("اسم الخامة ")
                </th>
                <th class="text-center">
                    @Html.DisplayName("الكميه المطلوبه")
                </th>
                <th class="text-center">
                    @Html.DisplayName("الأولويه")
                </th>
                <th class="text-center">
                    @Html.DisplayName("المشروع")
                </th>
                <th class="text-center">
                    @Html.DisplayName("الموافقه")
                </th>
                <th></th>
            </tr>

            @foreach (var item in grp)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.ItemOutput.Item.ItemName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DemandItemQuantity)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DemandItemPriority)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.ItemOutput.Project.ProjectCode)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DemandItemApproval)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("تعديل", "Edit", new { id = item.DemandItemId })
                        @*@Html.ActionLink("Details", "Details", new { id=item.DemandItemId }) |*@
                        @*@Html.ActionLink("Delete", "Delete", new { id=item.DemandItemId })*@
                    </td>
                </tr>
            }

        </table>
    }

    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


    if (ViewBag.msg2 != null)
    {
        <script type="text/javascript">

           alert("@ViewBag.msg2");

        </script>
    }
}

@section scripts{
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>
}
<script>
    $(document).ready(function () {
        $("#ProjectId").select2({
            placeholder: "اختر مشروع",
            allowClear: true
        });
    });

</script>