@using PagedList.Mvc
@model PagedList.IPagedList<Inventory_System.Models.DemandItem>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "PurchasingHistory";
    Layout = "~/Views/Shared/_LayoutPurchasing.cshtml";
}

<h2>سجل المشتريات</h2>

<br />
<table class="table">

    <tr>
        <th class="text-center">
            @Html.DisplayName("كود المشروع")
        </th>
        <th class="text-center">
            @Html.DisplayName("اسم الخامة")
        </th>
        <th class="text-center">
            @Html.DisplayName("الكميه")
        </th>
        <th class="text-center">
            @Html.DisplayName("الأولويه")
        </th>
        <th class="text-center">
            @Html.DisplayName("موافقه ال demand")
        </th>
        <th class="text-center">
            @Html.DisplayName("موافقه ال purchasing")
        </th>
        <th class="text-center"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ItemOutput.Item.ItemName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DemandItemQuantity)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DemandItemPriority)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DemandItemApproval)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.PurchasingApproval)
            </td>
            <!--<td class="text-center">
                @Html.ActionLink("تعديل", "PurchasingEdit", new { id = item.DemandItemId })-->
                <!--@Html.ActionLink("Details", "Details", new { id=item.DemandItemId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.DemandItemId })-->
            <!--</td>-->
        </tr>
    }

</table>
<br />
@Html.PagedListPager(Model,page=>Url.Action("PurchasingHistory",new { page}))